html, #Testing {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    background: url("../img/image.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
h1 {
    text-shadow: 2px 2px 5px white;
}
h6 {
    font-size: 16px;
}

  
