<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="/static/home.css/" rel="stylesheet">
    <script src="/static/index.js/"></script>


    <title>Combustion Analysis Tool</title>
</head>
<body>
    <div class="title">
        <h1 id="main">Combustion Analysis Tool</h1>
        <h4 id="desc">"Determine the amount of Carbon, Hydrogen, and Oxygen in a combustible compound."</h6>
        <h6 id="sub">Created by Alon Baker and Roee Weglein</h6>
    </div>
    <div class="calculator">
        <p style="color:blue; font-size: 25px; padding-top: 50px;">Reaction: CxHyOz + O2 -> H2O + CO2</p>
        <form action="/calculate" method="post">
            <label for="TTmass">Total Produced Mass:</label>
<input type="text" id="TTmass" name="TTmass" placeholder="0">
            <label for="CO2mass">CO2 Mass:</label>
<input type="text" id="CO2mass" name="CO2mass" placeholder="0">
            <label for="H2Omass">H2O Mass:</label>
<input type="text" id="H2Omass" name="H2Omass" placeholder="0">

 
<button type="submit">Start Calculation</button>
        </form>
        <h4> Result {{result}}</h4>
    </div>
</body>
</html>